* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #111;
  background: #f5f9ff;
}

h1,
h2,
h3,
.logo {
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}
